.card {
  margin: 0;
  margin-right: 100px;
  margin-bottom: 100px;
  width: 540px;
}

.card:nth-of-type(even) {
  margin-right: 0;
}

.card:last-of-type {
  margin-right: 0;
  margin-bottom: 0;
}

.card__title {
  margin: 0;
  margin-bottom: 32px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list {
  list-style-type: none;
  padding: 0;
}

.card__list-item {
  display: flex;
  margin-top: 0;
  margin-bottom: 16px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 16px;
  line-height: 20px;
}

.card__list-item:last-child {
  margin-bottom: 0;
}

.card__list-divider {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  border-bottom: 1px solid #000;
}
