.form {
  margin: auto;
  margin-top: 0;
  margin-bottom: 120px;
}

.form__fieldset {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  border: 0;
}

.form__label {
  margin: 0;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
}

.form__input {
  box-sizing: border-box;
  border: 1px solid #838383;
  border-radius: 4px;
  height: 60px;
  margin-bottom: 32px;
  padding-left: 10px;
}

.form__input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button {
  background-color: #2f80ed;
  font-style: normal;
  font-weight: 500;
  color: #fff;
  border: #838383;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  height: 60px;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  margin: 0;
  border: #838383;
  border-radius: 2px;
  width: 20px;
  height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 0;
  gap: 12px;
}
