.menu {
  background-image: url(/images/background_menu.svg);
  background-color: #fff;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}

.menu__title {
  display: flex;
  margin: auto;
  justify-content: center;
  max-width: 780px;
  margin-top: 100px;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
  max-width: 780px;
  margin-top: 0;
  margin-bottom: 100px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}
