.reservation {
  display: flex;
  flex-direction: column;
  background-color: #d9e7ff;
  background-image: url(/images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.reservation__title {
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 80px;
}

.reservation__form {
  display: flex;
  flex-direction: column;
  width: 385px;
}
