.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  background-image: url(/images/background_header.svg);
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: cover;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.nav__logo {
  position: relative;
  width: 105px;
  height: 39px;
  top: 30px;
  left: 30px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  margin: 0;
  margin-top: 30px;
  margin-right: 80px;
  column-gap: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000;
}

.header__title {
  max-width: 729px;
  margin-top: 183px;
  margin-left: 80px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  margin-top: 28px;
  margin-left: 80px;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  right: 5px;
  top: 124px;
}

.header__footer {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
}

.header__paragraph {
  position: relative;
  font-weight: 500;
  color: #838383;
}

.header__paragraph-hours {
  left: 80px;
  bottom: 40px;
}

.header__paragraph-address {
  display: flex;
  right: 80px;
  bottom: 40px;
  align-items: flex-end;
}

.content {
}

.recipes {
  display: flex;
  flex-direction: column;
  background-image: url(/images/background_recipes.svg);
  background-repeat: no-repeat;
  background-color: #0a2750;
  background-size: cover;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
}

.recipes__title {
  position: relative;
  max-width: 580px;
  top: 100px;
  left: 80px;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
}

.recipes__subtitle {
  position: relative;
  max-width: 438px;
  top: 124px;
  left: 80px;
  margin: 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 20px;
  color: #fff;
}

.recipes__videos {
  display: flex;
  margin: auto;
}

.recipes__iframe {
  margin-right: 40px;
}

.recipes__iframe:last-child {
  margin-right: 0;
}

.recipes__video-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}
